@{
    ViewData["Title"] = "Check Your Email";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* WhatsApp font style */
        margin: 0;
        padding: 0;
        background: rgb(240,224,209);
        background: linear-gradient(180deg, rgba(240,224,209,1) 0%, rgba(249,175,105,1) 100%);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Verify Your Email Address</h2>
            <p>We have sent an email to <strong>your email address</strong> with a link to verify your email address. Please check your email and click on the link to complete your registration.</p>
            <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Return to Home Page</a>
        </div>
    </div>
</div>