@using BilConnect.Data.ViewModels
@model ForgotPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
<p>Enter your email address to reset your password.</p>

<form asp-action="ForgotPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Reset Password" class="btn btn-primary" />
    </div>
</form>
