@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Forgot Password Confirmation</h2>

<p>
    If an account with the email address you entered exists, we have sent an email with instructions on how to reset your password. Please check your email inbox, and if necessary, your spam or junk mail folders.
</p>

<div>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go back to the homepage</a>
</div>