@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h2>Your password has been reset.</h2>

<p>
    <a href="@Url.Action("Login", "Account")">Click here to log in with your new password.</a>
</p>