@{
    ViewData["Title"] = "Email Verification Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Email Verification Error</h2>
            <p>There was an error verifying your email. Please try clicking the verification link again, or contact support if the problem persists.</p>
            <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go to Home Page</a>
        </div>
    </div>
</div>