.actions-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.menu-icon {
    cursor: pointer;
    z-index: 2; /* Ensure the icon is on top of the frame */
    transition: transform 0.5s ease-in-out; 
}

    .menu-icon.open {
        transform: rotate(180deg); 
    }

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.actions-menu.open .bar {
    background-color: black; 
}

.rotate-up {
    transform: rotate(-45deg) translate(0, -2.5px);
    transform-origin: right;
}

.rotate-down {
    transform: rotate(45deg) translate(0, 2.5px);
    transform-origin: right;
}

.fade-out {
    opacity: 0;
}

.menu-frame {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: #e8e4e4;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: right 1s ease-in-out;
    align-content: center;
    z-index: 1;
}

.actions-menu.open .menu-frame {
    right: 0; 
}

.user-profile-button {
    text-align: center;
    margin-top: 70px; /* Adjust as needed */
    margin-bottom: 50px;
}

    .user-profile-button img {
        width: 80px; /* Adjust as needed */
        height: 80px; /* Adjust as needed */
        border-radius: 50%;
        border: 2px solid white;
        cursor: pointer;
    }

.action-button {
    display: inline-flex;
    width: 85%;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 16px; /* Adjust as needed */
    color: black;
    border-radius: 5px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    .action-button.show-all-chats {
        font-size: 20px; /* Larger size for show all chats */
        background-color: white;
    }
    .action-button.favorite-posts {
        font-size: 20px; /* Larger size for favorite posts */
        background-color: white; /* Example color, you can change it */
    }
.button-image {
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed to provide spacing between image and text */
    align-content: center;
}
.button-logout {
    width: 35px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed to provide spacing between image and text */
    align-content: center;
}

.action-button.navigate-button {
    font-size: 20px; /* Adjust as needed */
    color: black; /* Text color */
    margin-left: 10px;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 35%;
}