#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: white;
}

.header {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: white;
    position: relative;
    width: 100%;
    margin-bottom: 0;
}

.logo {
}

.SearchBar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    max-width: 100%;
}

.actionsMenu {
    align-items: center;
    margin-right: 15px;
    color: white;
}

.animatedBlockWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 600px; /* Use viewport height to cover the entire screen */
    background-color: #e8e4e4;
}

.animatedImageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animatedImage {
    transition: opacity 0.5s ease-out;
    display: block;
    object-fit: cover; /* Cover the entire container without stretching */
    width: 100%;
    height: 100%;
}


.fade {
    opacity: 0;
}

.fade-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.navigationButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigationButton {
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: 22px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    outline: none;
    margin: 0 5px;
}
    .navigationButton:active, .navigationButton:focus {
        outline: none;
        border: none;
    }



.dot {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid black; /* Border color */
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.activeDot {
    background-color: black;
    border-color: black; /* Border color for the active dot */
}

