#root {
    display: inline-flex;
    max-width: 100%;
    margin: 0px;
    padding:0px;
    text-align: center;
    position: relative;
}

.header {
    display: inline-flex;
    height: 50px;
    align-items: center;
    background-color: white;
    position: relative;
    min-width: 100%;
    margin-bottom: 0;
}

.logo {

}

.SearchBar {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    max-width: 100%;
}

.actionsMenu {
    align-items: center;
    margin-right: 15px;
    color: white;
}

.animatedBlockWrapper {
    margin-top: -35px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 600px;
    background-color: #e8e4e4;
}

.animatedImageWrapper {
    width: 70%;
    overflow: hidden;
}

.animatedImage {
    transition: opacity 0.5s ease-out;
    align-items: center;
    display: block;
    margin: 50px 200px 50px 50px;
    max-width: 70%;
    max-height: 500px;
}

.information {
    width: 30%;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.fade {
    opacity: 0;
}

.fade-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.navigationButtons {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center the posts horizontally */
    gap: 45px;
}
.navigationButton {
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: 22px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    outline: none;
    margin: 0 5px; 
}
